<%= form_with(model: user, local: true, class: "needs-validation") do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        <%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:
      </h4>
      <ul class="mb-0">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email, class: "form-control", placeholder: "Enter your email" %>
  </div>

  <div class="mb-3">
    <%= form.label :password, class: "form-label" %>
    <%= form.password_field :password, class: "form-control", placeholder: "Enter your password" %>
  </div>

  <div class="form-check mb-3">
    <%= form.check_box :guest, class: "form-check-input", id: "guestCheck" %>
    <%= form.label :guest, "Click to create guest experience", class: "form-check-label", for: "guestCheck" %>
  </div>

  <div class="mb-3">
    <%= form.label :first_name, class: "form-label" %>
    <%= form.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
  </div>

  <div class="mb-3">
    <%= form.label :last_name, class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control", placeholder: "Enter last name" %>
  </div>

  <div class="d-grid">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
