<div id="<%= dom_id user %>" class="card shadow p-4 mb-3">
  <h4 class="card-title text-center mb-3">User Details</h4>
  <hr class="border-light">

  <div class="mb-2">
    <strong>Email:</strong>
    <span class="ms-2"><%= user.email %></span>
  </div>

  <div class="mb-2">
    <strong>Password Digest:</strong>
    <span class="ms-2"><%= user.encrypted_password %></span>
  </div>

  <div class="mb-2">
    <strong>Guest:</strong>
    <span class="ms-2"><%= user.guest ? "Yes" : "No" %></span>
  </div>

  <div class="mb-2">
    <strong>First Name:</strong>
    <span class="ms-2"><%= user.first_name %></span>
  </div>

  <div class="mb-2">
    <strong>Last Name:</strong>
    <span class="ms-2"><%= user.last_name %></span>
  </div>
</div>
